apiVersion: v1
kind: Service
metadata:
  name: todo-backend
  labels:
    app: todo-backend
    part-of: todo-app
spec:
  type: NodePort
  selector:
    app: todo-backend
  ports:
    - port: 7860
      targetPort: 7860
      protocol: TCP
      nodePort: 30786
